*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header{
    background-color: black;
    width: 100%;
    height: 60px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.logoMaradona{
    font-size: 30px;
    float: left;
}

.logoMaradona span{
    color: lightblue;
}

.barraNavegacion{
    float: right;
}

.barraNavegacion ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    font-size: 22px;
}

.barraNavegacion a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.barraNavegacion a:hover{
    color: lightblue;
}
.barraNavegacion a:hover{
    cursor: pointer;
}

/*MAIN*/

main{
    height: 900px;
    width: 100%;
    background-color: white;
    background-image: url(imagenes/fondoMaradona3.jpg);
    background-size: cover;
    background-position: center;
}

/*LLAMADOR*/

.callMain{
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    float: left;
    background-color:rgba(155, 155, 155, 0.5)
}

h1{
    color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.callMain p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}

.callMain a{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid lightblue;
    padding: 10px;
    text-decoration: none;
    font-variant: small-caps;
    border-radius: 5px;
    margin-bottom: 20px;
}

.callMain a:hover{
    color: lightblue;
}

/*SEPARADOR SECCIONES*/

h2{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 10px;
    font-variant: small-caps;
}

/*SECCION - LA LEYENDA*/

.laLeyenda{
    height: 750px;
    width: 100%;
    display: flex;
}

.partederecha{
    background-image: url(imagenes/diegoDeNiño.jpg);
    height: 750px;
    width: 50%;
    background-position: center;
    background-size: cover;
    border: 2px solid lightblue;
    float: right;
}

.parteizquierda{
    height: 750px;
    width: 50%;
    background-color: lightblue;
    border: 2px solid lightblue;
}

.parteizquierda h3{
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    padding: 20px;
}

.parteizquierda p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
}

/*SECCION - GALERIA*/

.galeria{
    background-color: lightblue;
    height: 650px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 10px;
    grid-gap: 20px;
    border-bottom: 2px solid white;
    grid-template-areas: 
    "aaaj  boca boca barcelona"
    "napoli sevilla sevilla newels"
    "boca2 seleccion tecnico tecnico";
}

.item{
    border-radius: 5px;
    border: 2px solid white;
    filter: grayscale(100%);
    transition: all 0.7s;
}

.item:hover{
    transform: scale(1.05);
    filter: grayscale(0%);
    transition: all 0.7s;
}

.item1{
    background-image:url(imagenes/aaaj.jpg);
    background-position: center;
    background-size: cover;
    grid-area: aaaj;
}
.item2{
    background-image:url(imagenes/boca.jpg);
    background-position: center;
    background-size: cover;
    grid-area: boca;
}
.item3{
    background-image:url(imagenes/barcelona.jpg);
    background-position: center;
    background-size: cover;
    grid-area: barcelona;
}
.item4{
    background-image:url(imagenes/napoli.jpg);
    background-position: center;
    background-size: cover;
    grid-area: napoli;
}
.item5{
    background-image:url(imagenes/sevilla.jpg);
    background-position: center;
    background-size: cover;
    grid-area: sevilla;
}
.item6{
    background-image:url(imagenes/newels.jpg);
    background-position: center;
    background-size: cover;
    grid-area: newels;
}
.item7{
    background-image:url(imagenes/maradonaBoca.jpg);
    background-position: center;
    background-size: cover;
    grid-area: boca2;
}
.item8{
    background-image:url(imagenes/maradonaSeleccion.jpg);
    background: position center; ;
    background-size: cover;
    grid-area: seleccion;
}

.item9{
    background-image:url(imagenes/tecnico.jpg);
    background: position 50%; ;
    background-size: cover;
    grid-area: tecnico;
}

/*FOOTER*/

footer{
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
}

footer .redesSociales{
    font-size: 40px;
    color: lightblue;
}

footer .redesSociales i{
    color: lightblue;
}

footer .redesSociales i:hover{
    color: white;
}

/*MUNDIAL MEXICO*/

/*HEADER - TODAS LAS PAGINAS*/
#mexico86{
    background-color: lightblue;
    width: 100%;
    height: 60px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#mexico86 .logoMaradona{
    font-size: 30px;
    float: left;
}

#mexico86 .logoMaradona span{
color: white;
text-shadow: 0 0 5px;
}

#mexico86 .barraNavegacion a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

#mexico86 .barraNavegacion a:hover{
    color: darkblue;
}

#mexico86 .barraNavegacion a:hover{
    cursor: pointer;
}

/*MAIN*/
.mundialMexico{
    height: 900px;
    width: 100%;
    display: flex;
}

.parteDerechaM{
    background-image: url(imagenes/maradonaBesoCopa.jpg);
    height: 900px;
    width: 50%;
    background-position: center;
    background-size: cover;
    float: right;
}

.parteIzquierdaM{
    height: 900px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
}

.parteIzquierdaM h3{
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    padding: 20px;
}

.parteIzquierdaM p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
}

/*VIDEO*/

.argIng{
    height: 380px;
    width: 100%;
    display: flex;
}

.videoArgIng{
    height:380px;
    width: 50%;
    float: left;
    background-color: lightblue;
    padding: 20px;
}

.textoVideoArgIng{
    height: 380px;
    width: 50%;
    background-color: lightblue;
    float: right;
}

.textoVideoArgIng h3{
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    padding: 20px;
}

.textoVideoArgIng p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
    align-items: center;
}

.videoTodosLosGoles{
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.imagenFinalCopa{
    background-image: url(imagenes/maradona86.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
}

.subir{
    height: 50px;
    width: 50px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
    border: 2px solid black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    font-size: 25px;
    color:black;
}

/*LEYENDA*/

.origenes{
    height: 1100px;
    width: 100%;
    display: flex;
}

.fotoOrigenes{
    background-image: url(imagenes/maradonaCebollitas.jpg);
    height: 1100px;
    width: 50%;
    background-position: center;
    background-size: cover;
    float: right;
}

.textoOrigenes{
    height: 1100px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.videosLeyenda{
    height: auto;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

/*CARRERA*/

.argentinosJuniors{
    height: 700px;
    width: 100%;
    display: flex;
}

.fotoAaaj{
    background-image: url(imagenes/maradonaAaaj.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 50%;
    float: right;
}

.textoAaaj{
    height: 700px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
}
.textoAaaj p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
}

.bocaJuniors{
    height: 800px;
    width: 100%;
    display: flex;
}

.fotoBocaJuniors{
    background-image: url(imagenes/maradonaFlores.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 50%;
    float: right;
}

.textoBocaJuniors{
    height: 800px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
}
.textoBocaJuniors p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
}
.clubBarcelona{
    height: 850px;
    width: 100%;
    display: flex;
}

.fotoBarcelona{
    background-image: url(imagenes/maradonaBarcelona1.webp);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 50%;
    float: right;
}

.textoBarcelona{
    height: 850px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
}
.textoBarcelona p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
}
.clubNapoli{
    height: 1000px;
    width: 100%;
    display: flex;
}

.fotoNapoli{
    background-image: url(imagenes/maradonaNapoli10.webp);
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 50%;
    float: right;
}

.textoNapoli{
    height: 1000px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
}
.textoNapoli p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 20px;
}

.mejoresGolesClub{
    height: auto;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

/*CONTACTO*/
.contactoNosotros{
    height: 450px;
    width: 100%;
    display: flex;
}

.formulariosCon{
    height: 450px;
    width: 50%;
    float: left;
    background-color: lightblue;
    border: 2px solid lightblue;
    padding: 20px;
}

.fotoContacto{
    background-image: url(imagenes/maradonaTelefono.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 50%;
    float: right;
}

/*VER MAS - SECCION*/

.fondoDegradado{
height: 850px;
background-color: blue;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
background-image: linear-gradient(lightblue, white);
padding: 20px;
}

.fondoDegradado p{
    padding: 20px;
}

img{
    padding: 20px;
    border-radius: 5px;
    height: auto;
    width: 100%;
    align-content: center;
}

.botonHome{
  margin: 20px;
}

.botonHome a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 5px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonHome a:hover{
    color: lightblue;
}

.animacion{
    width: 100px;
    height: auto;
    font-size: 20px;
    font-family: cursive;
    background-color: white;
    animation-name: efecto;
    animation-iteration-count:infinite; 
    animation-timing-function: ease-in; 
    animation-duration: 5s; 
    animation-delay: 5s; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    text-align: center;
}

@keyframes efecto {
    0% {
        width: 100px;
    }

    10% {
        background-color: white;
    }

    100% {
        width: 500px;
    }
}